openapi: 3.1.0
info:
  title: Plataforma Enlace API
  version: 1.0.0
  description: |
    API RESTful da Plataforma Enlace — Ecossistema Inclusivo e Acessível de Acompanhantes.
    Projetada sob a arquitetura de Monólito Modular Hexagonal com foco em anonimato do cliente,
    proteção de geolocalização do prestador, acessibilidade no domínio e monetização híbrida via Pix.
servers:
  - url: https://api.enlace.app/v1
    description: Servidor de Produção (Edge / Cloudflare)
  - url: https://staging-api.enlace.app/v1
    description: Servidor de Homologação (Staging)
  - url: http://localhost:3000/v1
    description: Ambiente de Desenvolvimento Local

paths:
  /auth/register:
    post:
      summary: Cadastro de nova conta
      description: Cria uma conta base para cliente ou acompanhante com geração automática de pseudônimo.
      operationId: registerAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Conta criada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          description: Idade inferior a 18 anos ou tentativa barrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      summary: Autenticação de usuário
      description: Realiza login emitindo Access Token JWT e Refresh Token em cookie HttpOnly seguro.
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Autenticação realizada com sucesso.
          headers:
            Set-Cookie:
              schema:
                type: string
                example: refreshToken=abc123uuid; Path=/api/v1/auth; HttpOnly; Secure; SameSite=Strict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /providers/search:
    get:
      summary: Busca de acompanhantes com compatibilidade de acessibilidade
      description: Retorna listagem ranqueada por planos de destaque e afinidade de acessibilidade funcional.
      operationId: searchProviders
      parameters:
        - name: state_uf
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 2
            example: AC
        - name: city
          in: query
          required: true
          schema:
            type: string
            example: Rio Branco
        - name: accommodations
          in: query
          description: Lista de códigos de acessibilidade demandados
          schema:
            type: array
            items:
              type: string
            example: ["COMM_LIBRAS", "MOB_RAMP_ELEVATOR"]
        - name: cursor
          in: query
          description: Cursor opaco para paginação segura anti-scraping
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 20
      responses:
        '200':
          description: Resultados de catálogo filtrados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderSearchResponse'

  /providers/{id}:
    get:
      summary: Detalhes públicos do perfil de acompanhante
      description: Retorna vitrine artística com coordenadas ofuscadas (raio difuso 500m). Endereço civil ausente.
      operationId: getProviderById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Perfil público detalhado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderDetailDTO'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /requests/generate:
    post:
      summary: Emissão de cartão estruturado de solicitação
      description: Registra a intenção de atendimento e gera deep link seguro para WhatsApp ou Telegram.
      operationId: generateServiceRequest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceRequestDTO'
      responses:
        '201':
          description: Cartão gerado e link de redirecionamento pronto.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequestResponseDTO'

  /orders/checkout:
    post:
      summary: Checkout Pix para compra de mídia ou plano
      description: Cria ordem de compra com rateio financeiro (split 85% prestador / 15% taxa) e código Pix.
      operationId: checkoutOrder
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderDTO'
      responses:
        '201':
          description: Ordem Pix emitida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCheckoutResponseDTO'

  /content/{id}/stream:
    get:
      summary: Obtenção de manifesto de streaming HLS protegido
      description: Valida o entitlement ativo do usuário e entrega a playlist .m3u8 assinada esteganograficamente.
      operationId: streamMediaContent
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: URL assinada de streaming autorizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignedStreamResponseDTO'
        '403':
          description: Acesso negado por falta de pagamento ou entitlement expirado.

  /reviews/submit:
    post:
      summary: Submissão de avaliação bilateral e alerta de segurança
      description: Envia avaliação pública com janela cega e relato confidencial de risco opcional.
      operationId: submitReview
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitReviewDTO'
      responses:
        '200':
          description: Avaliação registrada com sucesso.

  /webhooks/gateway/pix:
    post:
      summary: Webhook de confirmação de pagamento Pix do Gateway
      description: Processa a liquidação financeira com assinatura HMAC e chave de idempotência.
      operationId: handleGatewayPixWebhook
      parameters:
        - name: X-Signature-SHA256
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processado com idempotência confirmada.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequestError:
      description: Dados de entrada inválidos.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnauthorizedError:
      description: Token ausente, inválido ou expirado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: Recurso não localizado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    RegisterRequest:
      type: object
      required: [email, password, role]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        role:
          type: string
          enum: [CLIENT, PROVIDER]

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        user:
          type: object
          properties:
            id:
              type: string
              format: uuid
            pseudonym:
              type: string
              example: Cliente_4829
            role:
              type: string

    ProviderSearchResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProviderSummaryDTO'
        next_cursor:
          type: string
          nullable: true

    ProviderSummaryDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        artistic_name:
          type: string
        neighborhood:
          type: string
        active_plan_tier:
          type: string
          enum: [FREE, BRONZE, PRATA, OURO, DIAMANTE]
        min_rate_cents:
          type: integer
        match_score_percentage:
          type: number
          example: 100.0
        accommodations:
          type: array
          items:
            type: string

    ProviderDetailDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        artistic_name:
          type: string
        bio:
          type: string
        neighborhood:
          type: string
        city:
          type: string
        state_uf:
          type: string
        fuzzy_radius_meters:
          type: number
          example: 500
        min_rate_cents:
          type: integer
        is_verified:
          type: boolean
        public_photos:
          type: array
          items:
            type: string

    CreateServiceRequestDTO:
      type: object
      required: [provider_id, requested_datetime, duration_hours, location_mode, channel]
      properties:
        provider_id:
          type: string
          format: uuid
        requested_datetime:
          type: string
          format: date-time
        duration_hours:
          type: integer
          minimum: 1
          maximum: 24
        location_mode:
          type: string
          enum: [OWN_PLACE, CLIENT_PLACE, HOTEL_MOTEL, VIRTUAL]
        channel:
          type: string
          enum: [WHATSAPP, TELEGRAM]
        accommodations:
          type: array
          items:
            type: string

    ServiceRequestResponseDTO:
      type: object
      properties:
        request_id:
          type: string
          format: uuid
        deep_link_url:
          type: string
          example: "https://wa.me/5568999990000?text=..."

    CreateOrderDTO:
      type: object
      required: [item_type, target_id]
      properties:
        item_type:
          type: string
          enum: [MEDIA_SINGLE, SUBSCRIPTION_TIER]
        target_id:
          type: string
          format: uuid

    OrderCheckoutResponseDTO:
      type: object
      properties:
        order_id:
          type: string
          format: uuid
        total_cents:
          type: integer
        pix_copia_cola:
          type: string
        pix_qr_code_url:
          type: string
        expires_at:
          type: string
          format: date-time

    SignedStreamResponseDTO:
      type: object
      properties:
        hls_stream_url:
          type: string
        valid_until:
          type: string
          format: date-time

    SubmitReviewDTO:
      type: object
      required: [service_request_id, rating_score]
      properties:
        service_request_id:
          type: string
          format: uuid
        rating_score:
          type: integer
          minimum: 1
          maximum: 5
        public_comment:
          type: string
        confidential_alert:
          type: object
          properties:
            incident_code:
              type: string
            risk_weight:
              type: integer
            narrative:
              type: string

    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
